body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f0f0f0;
}

.encabezado {
  background-color: crimson;
  color: white;
  font-size: 2em;
  font-weight: bold;
  padding: 20px;
}

.menu {
  background-color: #ccc;
  display: flex;
  justify-content: flex-start; /* Enlaces alineados a la izquierda */
}

.menu a {
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}

.contenido {
  background-color: limegreen;
  height: 150px;
}
