body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  padding: 10px 20px;
  background-image: url('Material_Ejercicio_10/Patrones/bg_verde.png');
}

nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

nav a {
  color: grey;
  text-decoration: none;
  font-weight: 500;
}

.login-box {
  background-color: white;
  padding: 50px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #e6e6e6;
  margin-top: 30px;
}

footer {
  background-image: url('Material_Ejercicio_10/Patrones/bg_gris.png');
}